@{
    ViewData["Title"] = "Lottery";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-3">
        <h3>@ViewData["Message"]</h3>
    </div>
    <div class="col-md-6">
        <input id="teamIdInput"/>
    </div>
    <div class="col-md-3">
        <button onclick="sendTeamId()">查詢</button>
    </div>
</div>
